Repository hmcts/ccpay-paymentoutcome-web, pull requests merged in 2021-11, with the labels that each got.

#7 Pay 5211
  .sass-lint.yml
  .scannerwork/.sonar_lock
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ccpay-paymentoutcome-web/Chart.yaml
  charts/ccpay-paymentoutcome-web/values.yaml
  config/custom-environment-variables.json
  config/default.json
  infrastructure/main.tf
  package.json
  sonar-project.properties
  src/main/app.ts
  src/main/app/payhub/payhubService.ts
  src/main/assets/js/accessible-autocomplete.min.js
  src/main/assets/js/accessible-autocomplete.min.js.map
  src/main/assets/scss/accessible-autocomplete.min.scss
  src/main/assets/scss/main.scss
  src/main/routes/home.ts
  src/main/views/home.njk
  src/main/views/template.njk
  src/main/views/webpack/js.njk
  src/test/app/payhub/payhubService.test.ts
  src/test/http-mocks/fees.ts
  src/test/routes/home.ts
  src/test/unit/views/home.test.ts
  yarn.lock
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-paymentoutcome-web-pr-7

#8 Update README.md
  README.md
  charts/ccpay-paymentoutcome-web/Chart.yaml
  charts/ccpay-paymentoutcome-web/values.yaml
  src/main/app/payhub/payhubService.ts
  src/main/routes/home.ts
  src/main/views/home.njk
  src/test/unit/views/home.test.ts
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-paymentoutcome-web-pr-8

#10 Create yarn-audit-known-issues
  yarn-audit-known-issues
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-paymentoutcome-web-pr-10
